.DS_Store
.env
.env.local
.env.*.local
apps/api/.env
apps/api/.env.local
tmp
out-tsc
dist
coverage
node_modules
apps/*/dist
apps/*/coverage
packages/*/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js
*.tsbuildinfo
.eslintcache
.vscode/*
.idea/
